/* main.css */
body {
	background-image: url('../img/knu_museum.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.form-container {
			background: white;
			padding: 40px 20px; /* Adjust the top and bottom padding as needed */
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			max-width: 400px;
			/* Adjust the value as needed */
			margin: auto;
			/* To center the container horizontally */
}