/* styles.css */
body {
	background-image: url('../img/knu_museum.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.wrapper {
  display: grid;
  place-items: center;
  min-height: 100dvh;
}

.content {
  padding: 3rem;
  font-size: 2rem;
  border-radius: 1rem;
  background-color: var(--bs-secondary-color);
  color: var(--bs-secondary-bg);
}