@charset "UTF-8";

body {
	background-image: url('../img/knu_museum.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.box {
	background-color: white;
	background-position: center;
	margin: 50px;
	border-radius: 15px;
	overflow: hidden;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.box h2 {
	margin-top: 20px;
	width: 100%;
}

.box h3, .box h4 {
	text-align: center;
	margin-top: 20px;
	width: 100%;
}

.box selected {
	margin-top: 5px;
	margin-bottom: 5px;
}

.box input[type="submit"] {
	background-color: #994D1C;
	border-radius: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: white;
}

.box input[type="text"] {
	width: 50%;
	border: 1px solid #bbb;
	border-radius: 8px;
	padding: 10px 12px;
	font-size: 14px;
	margin: 20px;
}

.box input[type="radio"] {
	margin: 20px;
}

.box input[type="date"] {
	align-items: center;
	margin: 10px;
}

.element {
	width: 45%;
	background-color: #FFF3CD;
	border-radius: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin: 20px;
	opacity: 0.8;
	color: black;
}

.date-container {
	width: 100%;
    align-items: center;
    margin-bottom: 10px;
}

.date-container label {
    margin-right: 10px;
}