/* styles.css */
body {
	background-image: url('../img/knu_museum.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.table-responsive{
  background-color: var(--bs-tertiary-bg);
  color: var(--bs-secondary-bg);
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  text-align: center;
}

.table-responsive p{
  font-size: 2rem;
  color: black;
}

div button{
	 background-color: var(--bs-warning-bg-subtle);
     color: var(--bs-body-color);
     border: none;
     border-radius: 25%;
     size: 2rem;
}

.box {
	background-color: white;
	background-position: center;
	margin: 50px;
	border-radius: 15px;
	overflow: hidden;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.box h2 {
	margin-top: 20px;
	width: 100%;
}